In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("billionaires_complete.csv")

In [4]:
df["net"].describe()

count    200.000000
mean      15.457200
std       12.856298
min        6.800000
25%        8.277500
50%       11.055000
75%       15.785000
max       88.890000
Name: net, dtype: float64

In [9]:
df.sort_values(by="net", ascending = False).head(10)

,age,children,cleaned_name,gender,industry,name,place,source,status,cash,key,last,last_rel,net,private,public,rank,ytd,ytd_rel
8,61.0,3,bill-gates,Male,Technology,Bill Gates,United States,Self-made,Married,53.50,bill-gates,-353.03,-0.40,88.89,0.56,45.94,1,5104.04,6.09
175,80.0,3,amancio-ortega,Male,Retail,Amancio Ortega,Spain,Self-made,Married,0.00,amancio-ortega,164.09,0.21,78.54,13.14,86.86,2,5657.81,7.76
97,52.0,4,jeff-bezos,Male,Technology,Jeff Bezos,United States,Self-made,Married,5.89,jeff-bezos,-214.33,-0.30,72.18,1.21,92.89,3,12501.48,20.95
6,86.0,3,warren-buffett,Male,Finance,Warren Buffett,United States,Self-made,Married,1.40,warren-buffett,-221.26,-0.34,64.53,0.00,98.60,4,2236.01,3.59
67,32.0,1,mark-zuckerberg,Male,Technology,Mark Zuckerberg,United States,Self-made,Married,3.75,mark-zuckerberg,-262.49,-0.47,56.01,0.33,95.92,5,10238.70,22.37
103,81.0,2,charles-koch,Male,Diversified,Charles Koch,United States,Self-made,Married,2.06,charles-koch,-194.48,-0.38,50.38,97.94,0.00,6,-1641.25,-3.16
41,76.0,3,david-koch,Male,Diversified,David Koch,United States,Self-made,Married,2.06,david-koch,-194.48,-0.38,50.38,97.94,0.00,7,-1641.25,-3.16
11,76.0,6,carlos-slim,Male,Diversified,Carlos Slim,Mexico,Self-made,Widowed,5.89,carlos-slim,298.99,0.61,49.03,5.05,89.05,8,-3237.01,-6.19
154,90.0,4,ingvar-kamprad,Male,Retail,Ingvar Kamprad,Sweden,Self-made,Widowed,0.12,ingvar-kamprad,158.02,0.37,43.09,99.69,0.19,9,3198.93,8.02
63,72.0,2,larry-ellison,Male,Technology,Larry Ellison,United States,Self-made,Divorced,16.75,larry-ellison,-168.51,-0.40,42.39,0.00,83.25,10,2654.52,6.68

In [12]:
df["industry"].value_counts()

Technology            33
Diversified           27
Retail                24
Manufacturing         21
Finance               20
Real Estate           16
Food & Beverage       14
Media                 10
Energy                 9
Metals & Mining        9
Service                6
Medical                6
Telecommunications     4
Apparel                1
Name: industry, dtype: int64

In [13]:
df["age"].describe()

/Users/gcg/.virtualenvs/ddj/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    155.000000
mean      66.806452
std       13.743521
min       30.000000
25%             NaN
50%             NaN
75%             NaN
max       94.000000
Name: age, dtype: float64

In [14]:
df.columns

Index(['age', 'children', 'cleaned_name', 'gender', 'industry', 'name',
       'place', 'source', 'status', 'cash', 'key', 'last', 'last_rel', 'net',
       'private', 'public', 'rank', 'ytd', 'ytd_rel'],
      dtype='object')

In [15]:
df['place'].describe()

count               200
unique               35
top       United States
freq                 71
Name: place, dtype: object

In [16]:
df['place'].value_counts()

United States     71
Germany           16
Russia            15
China             12
France             8
India              8
Hong Kong          8
Sweden             7
Italy              5
Brazil             5
Indonesia          4
Japan              4
Saudi Arabia       3
Canada             3
Mexico             3
Australia          2
Colombia           2
United Kingdom     2
Spain              2
South Korea        2
Thailand           2
Switzerland        2
Austria            2
Israel             1
New Zealand        1
Philippines        1
Czech Republic     1
Denmark            1
Nigeria            1
Netherlands        1
Chile              1
Monaco             1
Cyprus             1
Malaysia           1
Singapore          1
Name: place, dtype: int64